.button-functionality {
    height: 50px;
    width: 60px;
    word-wrap: break-word;
    border-radius: 20%;
    margin: 10px;
    border: 2.5px ridge #36454f;
}

.btn-colour {
    height: 50px;
    width: 60px;
    border-radius: 20%;
    margin: 10px;
    border: 2.5px ridge #36454f;
}

.buttons {
    float: left;
}

#canvas {
    background-color: #31343a;
    border: 3px ridge #36454f;
    float: left;
    box-shadow: 0 0.1rem 0.5rem 0.1rem rgba(43, 12, 1, 0.1);
}